.container {
  width: 40%;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid black;
}
header {
  text-align: center;
  /* margin-left: 100px; */
}
header p {
  text-transform: uppercase;
}
h1 {
  color: #ee6927;
}

.inputField input,
button {
  display: block;
  width: 50%;
  height: 35px;
  /* box-shadow: 0px 1px 1px black; */
  margin: 5px auto;
  /* margin-top: 25px;
  margin-bottom: 15px; */
}
#First {
  margin-top: 20px;
}
a {
  margin-left: 150px;
}
.form-control {
  height: 70px;
}
.form-control small {
  visibility: hidden;
}
.form-control-error small {
  visibility: visible;
  margin-left: 150px;
  color: red;
  height: 5px;
}
.borderRed {
  border-color: red;
}
.borderGreen {
  border-color: green;
}
::placeholder {
  color: black;
  padding-left: 10px;
}
#btn {
  width: 25%;
  margin: 0 auto;
  box-shadow: none;
}
.btnClass {
  background-color: orange;
  cursor: pointer;
}
